<!DOCTYPE html>
<html>
  <head>
    <title>members only</title>
    <link rel="stylesheet" href="/styles.css" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <header>
      <h1><a href="/">members only</a></h1>
      <nav>
        <% if (currentUser) { %>
        <p>logged in as <%= currentUser.username %></p>
        <a href="/message/new">create message</a>
        <% if (!currentUser.is_member) { %>
        <a href="/join">join the club</a>
        <% } %>
        <a href="/logout">log out</a>
        <% } else { %>
        <a href="/log-in">log in</a> |
        <a href="/sign-up">sign up</a>
        <% } %>
      </nav>
      <hr />
    </header>

    <main><%- body %></main>
  </body>
</html>
